@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Light.eot');
	src: url('../fonts/Acrom-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-Light.woff') format('woff'),
	url('../fonts/Acrom-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Regular.eot');
	src: url('../fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-Regular.woff') format('woff'),
	url('../fonts/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Medium.eot');
	src: url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-Medium.woff') format('woff'),
	url('../fonts/Acrom-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Bold.eot');
	src: url('../fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-Bold.woff') format('woff'),
	url('../fonts/Acrom-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-ExtraBold.eot');
	src: url('../fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-ExtraBold.woff') format('woff'),
	url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}